[project]
	description = The 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raju Nair (rajutech76)
[access "refs/for/refs/*"]
	read = group user/Raju Nair (rajutech76)
	push = group user/Raju Nair (rajutech76)
	label-Code-Review = -2..+2 group user/Raju Nair (rajutech76)
	label-Verified = -1..+1 group user/Raju Nair (rajutech76)
	rebase = group user/Raju Nair (rajutech76)
	removeReviewer = group user/Raju Nair (rajutech76)
	submit = group user/Raju Nair (rajutech76)
[access "refs/heads/*"]
	read = group user/Raju Nair (rajutech76)
	create = group user/Raju Nair (rajutech76)
	push = +force group user/Raju Nair (rajutech76)
	pushMerge = group user/Raju Nair (rajutech76)
[access "refs/tags/*"]
	push = group user/Raju Nair (rajutech76)
	push = +force group user/Raju Nair (rajutech76)
